@{
    ViewData["Title"] = "Personal library";
}

@model List<Book>


    <style>
        .grid-books
        {
            display: grid;
            grid-template-columns: repeat(8, 100px);
            grid-template-rows: repeat(3, auto);
            grid-gap: 30px;
            grid:fit-content();
        }

        h1
        {
            text-align: center;
        }

        label
        {
            font-size: smaller;
            align-items: center;
            align-self: center;
            align-content: center;
        }

    </style>

<div class="start-0">
    <img src="/images/lib_banner.jpg">
    <h1>Personal library</h1>
    <br/>
</div>

<div>
    <div class="grid-books">
        @if (Model != null)
        {
            foreach (var items in Model)
            {
                <div>
                    <img src="/images/default-cover.jpg" alt="" width="100">
                    <label>@items.Title.ToUpper()</label>
                </div>
                @* <tr> *@
                @*     <td>@items.Title.ToUpper()</td> *@
                @*     <td>@items.Author.ToUpper()</td> *@
                @*     <td><img src="/images/default-cover.jpg" alt="" width="100"></td> *@
                @*     <td>@items.Description?.ToUpper()</td> *@
                @* </tr> *@
            }
        }
    </div>
</div>






@* <table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Cover</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var items in Model)
            {
                <tr>
                    <td>@items.Title.ToUpper()</td>
                    <td>@items.Author.ToUpper()</td>
                    <td><img src="/images/default-cover.jpg" alt="" width="100"></td>
                    <td>@items.Description?.ToUpper()</td>
                </tr>
            }
        }
    </tbody>
</table> *@

<h1>@Environment.GetEnvironmentVariable("IMAGE_STORAGE_PATH")</h1>